
<div class="container p-4">
  <div class="card inner-main">
    <div class="card-header">
      Este es tu Perfil
    </div>
    <div class="card-body">
      <p class="card-text">Name: <strong>{{ user.name }}</strong></p>
      <p class="card-text">Email: <strong>{{ user.email }}</strong></p>

      <div class="text-center">
        <a *ngIf="user.usertype == 1 && loggedIn" class="btn btn-outline-warning" routerLink="/admin-productos">Administrar Productos</a>
      </div>

    </div>
  </div>
</div>
